.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 188px;

  width: 173px;
  height: 57px;

  color: $c-main;
  background-color: $c-dark;
  border-radius: 2px;

  transition: background-color 300ms;

  &:hover {
    background-color: #fff;
    border: 1px solid $c-dark;
    color: $c-dark;
  }

  &:active {
    border: 1px solid $c-gray;
  }

  @extend %fontMontserrat;
  @include font(16px, 32px, 400);

  @include onDesign {
    width: 275px;
    margin-bottom: 0;
  }

  @include onDesign {
    width: 275px;
  }
}
