.header {
  margin: 0 auto;
  background-color: $c-white;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__top-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    @include onTablet {
      justify-content: space-between;
      gap: 20px;
    }
  }

  &__top-action-item:not(:nth-child(2)) {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__top-action-item {
    @include onTablet {
      // width: 33%;
    }
  }

  &__top-action-text {
    text-align: center;

    @extend %fontMontserrat;
    @include font(16px, 24px, 300);
  }

  &__top-action-logo {
    text-align: center;

    @extend %fontMontserrat;
    @include font(29px, 29px, 500, -0.58px);
  }

  &__top-action-contact {
    text-align: center;

    @extend %fontMontserrat;
    @include font(24px, 45px, 500, -0.58px);
  }

  // &__icon--logo {
  //   display: none;
  // }

  &__bottom-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }

  &__icon--menu {
    @include square(40px);

    @include onTablet {
      display: none;
    }
  }
}
