.header {
  margin: 0 auto;
  background-color: #e2e001;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 92px 0 50px ;

    @include onDesktop {
      padding: 52px 0 0;
    }
    @include onDesign {
      padding: 75px 0 0;
    }
  }

  &__top-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon--logo {
    display: none;

  @include onDesktop {
    display: block;
  }
  }

  &__icon--menu {
    width: 52px;
    height: 100%;

    @include onDesktop {
      display: none;
    }
   }

  &__nav {
    &--display {
      display: none;
      @include onDesktop {
        display: flex;
      }
    }
  }
}
