.rolls {
  padding: 50px 0 125px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    text-transform: capitalize;

    &::after{
      content: "--------";
    }

    @extend %fontMontserrat;;
    @include font(32px, 36px, 900);
  }
}


