.rolls {
  padding: 50px 0 125px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    text-transform: capitalize;

    @extend %fontMontserrat;;
    @include font(32px, 36px, 900, 32px);
  }

  &__subtitle {
    max-width: 358px;
    margin-bottom: 52px;
    margin-right: -5px;
    text-align: center;

    @extend %fontMontserrat;
    @include font(20px, 32px, 500, 5px);

    @include onTablet {
      margin-bottom: 60px;
      margin-right: -29px;
      @include font(24px, 32px, 500, 29px);
    }

    @include onDesktop {
      margin-bottom: 40px;

    }
  }

  &__logo-wrapper {
    width: 122px;
    height: 60px;

    @include onTablet {
      display: none;
    }
  }
}


