.menu {
  background-color: #e2e001;
  overflow-y: auto;
  height: 100%;
  overflow: hidden;

  &__content {
    padding: 92px 0 138px;
  }

  &__top-action {
    margin-bottom: 88px;
    display: flex;
    justify-content: flex-end;
  }

  &__icon {
    @include square(27px);
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
    margin-bottom: 95px;
  }

  &__link {
    display: block;
    padding: 10px 0;
  }

  &__action {
    display: flex;
    justify-content: center;
    color: $c-dark;

    @extend %fontNotoSerif;
    @include font(16px, 32px, 400);
  }

  @include onTablet {
    opacity: 0.94;
  }
  
  @include onDesktop {
    display: none;
  }
}
