.nav {
  height: 100%;
  color: $c-dark;

  @extend %fontNotoSerif;
  @include font(16px, 32px, 300);

  &__list {
    display: flex;
    gap: 10px;

    @include onDesktop {
      gap: 105px;
    }

    @include onDesign {
      gap: 145px;
    }
  }

  &__item {
    height: 100%;
    text-transform: capitalize;
  }

  &__link {
    height: 100%;
    position: relative;
  }
}
