.nav {
  display: none;
  height: 100%;
  color: $c-dark;

  @extend %fontMontserrat;
  @include font(22px, 32px, 500);

  &__list {
    display: flex;
    gap: 20px;
  }

  &__item {
    height: 100%;
    text-transform: capitalize;
    position: relative;

    @include onTablet {
      &:not(:last-child)::before {
        content: "|";
        position: absolute;
        top: 0;
        right: -15px;
        color: #000;
        opacity: 0.2;
      }

      &:hover {
        &::after {
          content: "__";
          position: absolute;
          height: 1px;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          background-color: transparent;
        }
      }
    }
  }

  &__link {
    height: 100%;
  }

  @include onTablet {
    display: block;
  }
}
